@font-face {
    font-family: "LEDLIGHT";
    src: url(Assets/LEDLIGHT.otf);
}

@font-face {
    font-family: "Orbitron";
    src: url(Assets\OrbitronMedium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
}

.REDLIGHT {
    font-family: "LEDLIGHT", sans-serif;
}

.Obritron {
    font-family: "Orbitron", sans-serif;
}

header {
    background-color: #0a0a0a;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: static;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.logo h1 {
    font-size: 3.5em;
    color: #750020;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links li {
    padding: 5px 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

main {
    width: 100%;
    padding: 5%;
}

/* Titulos*/
.titulo-implante {
    background-image: url('Images/cabeza-fondo.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.titulo-implante h2 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Carrusel de implantes */
.carrusel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 0;
}

.implante-item {
    background-color: #000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, border 0.3s ease;
}

.implante-item.Cliente {
    min-width: 300px;
}

a {
    color: #1c9ae3;
    text-decoration: none;
}

a:hover {
    color: #750020;
}

.implante-item h2{
    color: #1c9ae3;
}

.implante-item:hover h2{
    color: #97e31c;
}

.implante-item:hover {
    transform: scale(1.05);
    border-color: #750020;
}

.implante-item img {
    width: 100%;
    border-radius: 8px;
}

.descripcion {
    margin-top: 10px;
}

.descripcion p {
    font-size: 1.2em;
    text-align: justify;
}

.boton-comprar {
    display: inline-block;
    background-color: #750020;
    color: #fff;
    padding: 10px 20px;
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-comprar:hover {
    background-color: #a50030;
    transform: scale(1.1);
}

footer {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #711e1e;
    padding: 20px 0;
    text-align: center;
}

.pieDePagina {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin: 0 10px;
    display: inline-block;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

@media (max-width: 800px) {
    .recuadro-descripcion {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .recuadro-descripcion img {
        max-width: 100%;
        width: auto;
    }

    .texto {
        max-width: 100%;
    }

    .logo h1 {
        font-size: 10vw;
        color: #750020;
    }

    .nav-links a {
        color: #ffffff;
        text-decoration: none;
        font-size: 3vw;
    }

    .titulo-implante h2 {
        font-size: 2em;
    }
}
