@font-face {
    font-family: "LEDLIGHT";
    src: url(Assets/LEDLIGHT.otf);
}

@font-face {
    font-family: "Orbitron";
    src: url(Assets\OrbitronMedium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
}

.REDLIGHT {
    font-family: "LEDLIGHT", sans-serif;
}

.Obritron {
    font-family: "Orbitron", sans-serif;
}

header {
    background-color: #0a0a0a;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: static;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.logo h1 {
    font-size: 3.5em;
    color: #750020;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links li {
    padding: 5px 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

main {
    width: 100%;
    padding: 5%;
}

footer {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #711e1e;
    padding: 20px 0;
    text-align: center;
}

.pieDePagina {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin: 0 10px;
    display: inline-block;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

@media (max-width: 800px) {
    .recuadro-descripcion {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .recuadro-descripcion img {
        max-width: 100%;
        width: auto;
    }

    .texto {
        max-width: 100%;
    }

    .logo h1 {
        font-size: 10vw;
        color: #750020;
    }

    .nav-links a {
        color: #ffffff;
        text-decoration: none;
        font-size: 3vw;
    }

}
