@font-face {
    font-family: "LEDLIGHT";
    src: url(Assets/LEDLIGHT.otf);
}

@font-face {
    font-family: "Orbitron";
    src: url(Assets\OrbitronMedium.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
}

.REDLIGHT{
    font-family: "LEDLIGHT", sans-serif;
}

.Obritron{
    font-family: "Orbitron", sans-serif;
}

.hero {
    position: relative;
    background-image: 
    linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(164,171,175,0.3) 50%, rgba(17,17,17,1) 100%),
        url('Images/Label2.jpeg');
        background-size: 85% auto;
    background-position: center 30%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #100f0f;
    overflow: hidden;
}


.hero h1 {
    font-size: 3.5em;
    color:#750020;
    margin-bottom: 20px;
}

.slogan {
    font-size: 2vw;
    font-family: "Orbitron", sans-serif;
    color: #750020;
}


header {
    background-color: #0a0a0a;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.logo h1 {
    font-size: 3.5em;
    color: #750020;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links li {
    padding: 5px 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

main {
    width: 100%;
    padding: 5%;
}

.recuadro-descripcion {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),-15px -15px 30px rgb(60, 60, 60);
    max-width: 100%;
    flex-wrap: nowrap;
}

.recuadro-descripcion img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.recuadro-descripcion h2 {
    margin-bottom: 50px;
    color: #750020;
}

.texto {
    max-width: 1400px;
    font-family: "Orbitron",sans-serif;
    font-size: 25px;
    text-align: justify;
}

.texto h2{
    max-width: 1400px;
    font-family: "Orbitron",sans-serif;
    font-size: 25px;
    text-align: left;
}


.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* usa el 75% de lo que se ve en pantalla */
    background-color: #111;
    background-image: 
    linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(164,171,175,0.3) 50%, rgba(17,17,17,1) 100%),
        url('Images/Panoramica.jpeg');
    background-size: cover;/* cubre literlamente todo xd */
    background-repeat: no-repeat;
    background-position: center;
}

.Login p{
    font-size: 0.8em;
}

.singup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* usa el 75% de lo que se ve en pantalla */
    background-color: #111;
    background-image: 
    linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(164,171,175,0.3) 50%, rgba(17,17,17,1) 100%),
        url('Images/Panoramica2.jpeg');
    background-size: cover;/* cubre literlamente todo xd */
    background-repeat: no-repeat;
    background-position: center;
}

.singup p{
    font-size: 0.8em;
}

.Registro {
    display: flex;
    flex-direction: column; /* que todo quede en una columna */
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    width: auto; /* Fija un ancho para el recuadro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: auto; /* para que sea igual a amboss lados se deja en automatico */
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    border: none; /* Elimina el borde */
    border-bottom: 2px solid #750020;
    outline: none; /* Evita el contorno azul al hacer clic */
    background-color: #1a1a1a; /* Fondo oscuro para coherencia */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
}


input:hover {
    border-bottom: 2px solid #ff4c4c;
    background-color: #222;
}

.cuerpo {
    width: 50%; /* Ajusta el ancho */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 10% 20% 10%; /* Cabeza y piernas ocupan 1fr cada una, torso ocupa 2fr */
    grid-template-rows: 20% 50% 60%; /* Proporciones para cabeza, torso y piernas */
}

.caja {
    position: relative; /* Esto es importante para asegurar que las imágenes se ajusten correctamente */
    display: flex;
}

.cabeza {
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
    justify-content: center;
}

.cabeza img {
    width: 55%;
    height: 100%;
    transition: transform 0.3s ease;
}

.cabeza img:hover {
    width: 55%;
    height: 100%;
    filter: drop-shadow(0 0 20px rgb(255, 255, 255));
    transform: scale(1.2);
}



.torso {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: span 1; /* Esto asegura que la columna del torso solo ocupe una fracción del espacio */
    grid-row-end: span 1; /* Similar para la fila */
    align-items: center;
    justify-content: center;
}

.torso img {
    width: 100%; /* Hace que la imagen del torso sea más pequeña */
    height: 100%;
    margin: auto; /* Centra la imagen */
    height: 100%;
    transition: transform 0.3s ease;
}

.torso img:hover {
    filter: drop-shadow(0 0 20px rgb(255, 255, 255));
    transform: scale(1.2);
}


.brazo-izquierdo {
    grid-column-start: 1;
    grid-row-start: 2;
    align-items: flex-end;
    justify-content: right;
}

.brazo-izquierdo img {
    width: 70%;
    height: 93%;
    transition: transform 0.3s ease;
}

.brazo-izquierdo img:hover{
    filter: drop-shadow(0 0 20px rgb(255, 255, 255));
    transform: scale(1.2);
}

.brazo-derecho {
    grid-column-start: 3;
    grid-row-start: 2;
    align-items: flex-end;
    justify-content: left;
}

.brazo-derecho img {
    width: 70%;
    height: 95%;
    transition: transform 0.3s ease;
}

.brazo-derecho img:hover{
    filter: drop-shadow(0 0 20px rgb(255, 255, 255));
    transform: scale(1.2);
}

.piernas {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-content: center;
}

.piernas img {
    width: 125%;
    height: 100%;
    transition: transform 0.3s ease;
}

.piernas img:hover {
    filter: drop-shadow(0 0 20px rgb(255, 255, 255));
    transform: scale(1.2);
}

@media (max-width: 800px) {
    .recuadro-descripcion {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .recuadro-descripcion img {
        max-width: 100%;
        width: auto;
    }

    .texto {
        max-width: 100%;
    }

    .slogan {
        font-size: 5vw;
        font-family: "Orbitron", sans-serif;
        color: #750020;
    }

    .hero h1 {
        font-size: 10vw;
        color:#750020;
        margin-bottom: 20px;
    }

    .logo h1 {
        font-size: 10vw;
        color: #750020;
    }

    .nav-links a {
        color: #ffffff;
        text-decoration: none;
        font-size: 3vw;
    }
}
