@font-face {
    font-family: "LEDLIGHT";
    src: url(Assets/LEDLIGHT.otf);
}

@font-face {
    font-family: "Orbitron";
    src: url(Assets\OrbitronMedium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
}

.REDLIGHT{
    font-family: "LEDLIGHT", sans-serif;
}

.Obritron{
    font-family: "Obitron", sans-serif;
}

.hero {
    position: relative;
    background-image: 
    linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(164,171,175,0.3) 50%, rgba(17,17,17,1) 100%),
        url('Images/Label2.jpeg');
        background-size: 85% auto;
    background-position: center 30%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #100f0f;
    overflow: hidden;
}


.hero h1 {
    font-size: 6em;
    color:#750020;
    margin-bottom: 20px;
}

.slogan {
    font-size: 1.5em;
    font-family: "Orbitron", sans-serif;
    color: #750020;
}


header {
    background-color: #0a0a0a;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 3.5em;
    color: #ff5500;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 5px 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

main {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
}

.recuadro-descripcion {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),-15px -15px 30px rgb(60, 60, 60);
    width: 100%;
    flex-wrap: wrap;
}

.recuadro-descripcion img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.recuadro-descripcion h2 {
    margin-bottom: 50px;
    color: #ff5500;
}

.texto {
    max-width: 1400px;
    font-family: "Orbitron";
    font-size: 25px;
    text-align: justify;
}

